
@{
    Layout = null;
}



<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3> örnek</h3>
<br />
<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<buton class="btn btn-success">Yeni Kategori</buton>
<buton class="btn btn-warning">Kategori Listesi</buton>
<buton class="btn btn-info">Kategori Açıklamaları</buton>